<div class="banner">
<%= render 'shared/navbar'%>

  <div class="taglines" style="padding-top: 15vh;">
        <span class="title">Take Ownership of Your </span>
        <span class="title-bold enhance">Digital Identity</span>

        <span class="subtitle">
          <p>Your digital self is duplicated across dozens of online accounts (mis)using your data at their will. Take back control with WunderPass.</p>
        </span>
        <a href="https://18hd8ji1qus.typeform.com/to/iEAs01p3" class="btn-black-landing">Get early access</a>
    </div>
</div>


<div style="background-image: image-url(Youtube-Cover-White)"> </div>

<div id="main" style="background: white;">
<div id="welcome">
<div style="background-position: 0% 50%; background-size: contain;">
<div class="mb-5" style="height: 56px;">

</div>
<div class="d-flex col-12 col-xl-7 col-centered">
<div class="my-auto mx-auto text-center">

</div>
</div>
</div>

<div class="section1">
<div class="grid_container1">

<div class="item1_1">

<div class="d-flex col-12 col-xl-6" style="display:block; margin-left:auto; margin-right:auto;">
<div class="my-auto mx-auto text-center">
<img style="width: 70%;" class="lazyfill lazyloaded" src="<%= image_path('cards.png') %>" alt="">

</div>
</div>
</div>
<div class="item2_1">

<div class="container text-center py-5">

<div class="row mt-5">
<div class=" col-12 col-xl-6">
<div class="mr-2 text-left">
<div class="font-weight-500 my-2 text-primary section_header" style="font-size: 12px;">COMING SOON</div>
<h2 class="h2 font-weight-500 section_header">The WunderPass NFT</h2>
<div class="text-transparent"> Visualize your Wunder-ID with a unique collectible WunderPass NFT as backdrop. For the first time, a finite NFT collection will be released within an infinite total set. One for every single person in the world. Forever. Yet with very individual rarities.</div>
<div style="height:5vh;"></div>
<div class="text-transparent"> Owning your WunderPass gives you early-access to products on the protocol along with voting rights for future product roadmap. Additional perks and rewards that are dependant on certain NFT properties will be announced.  </div>
<div class="my-4"><a class="btn btn-heavy btn-outline-primary py-2 px-4" style="font-size: 14px;" href="https://docs.wunderpass.io/whitepaper/wunderpass-nft">Learn more</a></div>
</div>
</div>
</div>
</div>

</div>

</div> <!-- div container1 end -->

</div>
</div>

<div style="height:3vw"></div>
<!-- da container div end --> </div>
</div>



<div class="section2">

<div class="container text-center py-5">

<div style="height:10vh"></div>
<h2 class="h2 font-weight-700">WunderPass Properties</h2>
<div style="height:5vh;"></div>
<div class="grid_container2">
<div class="item1_2">
  <div class="d-flex col-12 col-xl-6">
    <div class="wp_property_icon">
<img style="width: 100%;" class="lazyfill lazyloaded" src="<%= image_path('status_icon.png') %>" alt="">
    </div>
  </div>
<div class="row mt-4 flex-row-reverse">
<div class="d-flex col-12">
<div class="text-left">
<div class="font-weight-500 text-primary" style="font-size: 12px;"></div>
<h3 class="h3 font-weight-500 wp_property_text_h">Status</h3>
<div class="text-transparent">Diamond is the first status out of 9 in total. Each status is capped and can no longer be minted once reached e.g. only 200 Diamonds are possible and followed by Black, Ruby & Pearl amongst others.</div>
</div>
</div>
</div>
</div>

<div class="item2_2">
 <div class="d-flex col-12 col-xl-6">
<div class="wp_property_icon">
<img style="width: 100%; float: left;" class="lazyfill lazyloaded" src="<%= image_path('hologram_icon.png') %>" alt="">
</div>
</div>
<div class="row mt-4 flex-row-reverse">
<div class="d-flex col-12">
<div class="text-left">
<div class="font-weight-500 text-primary" style="font-size: 12px;"></div>
<h3 class="h3 font-weight-500 wp_property_text_h">Hologram</h3>
<div class="text-transparent">The 8 holograms are based on the 7 modern Wonders of the World plus the Pyramids of Gizeh as a bonus, which is the rarest hologram only minted 1/256 times.</div>
</div>
</div>
</div>
</div>


<div class="item3_2">
<div class="d-flex col-12 col-xl-6">
<div class="wp_property_icon">
<img style="width: 100%; float: left;" class="lazyfill lazyloaded" src="<%= image_path('pattern_icon.png') %>" alt="">
</div>
</div>
<div class="row mt-4 flex-row-reverse">
<div class="d-flex col-12">
<div class="text-left">
<div class="font-weight-500 text-primary" style="font-size: 12px;"></div>
<h3 class="h3 font-weight-500 wp_property_text_h">Pattern</h3>
<div class="text-transparent">Safari Fun, Triangular Bars & Pointillism amongst others make up the 9 patterns for your WunderPass. Distribution is skewed randomly with probabilities halving to 1/2, 1/4, 1/8, 1/16 etc.</div>
</div>
</div>
</div>
</div>

<div class="item4_2">
<div class="d-flex col-12 col-xl-6">
<div class="wp_property_icon">
<img style="width: 100%; float: left;" class="lazyfill lazyloaded" src="<%= image_path('edition_icon.png') %>" alt="">
</div>
</div>

<div class="row mt-4 flex-row-reverse">
<div class="d-flex col-12">
<div class="text-left">
<div class="font-weight-500 text-primary" style="font-size: 12px;"></div>
<h3 class="h3 font-weight-500 wp_property_text_h">Edition</h3>
<div class="text-transparent">Individualize your WunderPass. Starting with 100 City Editions that move up to the next parent edition based on availability i.e. Country → Continent → World.</div>
</div>
</div>
</div>
</div>

</div>
<div style="height:10vh"></div>
<!-- da container div end --> </div>

</div>


<div class="section3">
<div style="height:10vh"></div>
<div class="grid_container1">

<div class="item1_1">

<div class="d-flex col-12 col-xl-6" style="display:block; margin-left:auto; margin-right:auto;">
<div class="my-auto mx-auto text-center">
<img style="width: 70%;" class="lazyfill lazyloaded" src="<%= image_path('showcase_slow.gif') %>" alt="">

</div>
</div>
</div>
<div class="item2_1">

<div class="container text-center py-5">

<div class="row mt-5">
<div class=" col-12 col-xl-6">
<div class="mr-2 text-left">
<div class="font-weight-500 my-2 text-primary section_header" style="font-size: 12px;">COMING SOON</div>
<h2 class="h2 font-weight-500 section_header">Mint your own WunderPass</h2>
<div class="text-transparent">Special conditions apply if you mint with your WunderID compared to minting with another wallet. Minting date and guide will be released soon so stay tuned.</div>
<div class="my-4"><a class="btn btn-heavy btn-outline-primary py-2 px-4" style="font-size: 14px;" href="https://18hd8ji1qus.typeform.com/to/iEAs01p3">Get whitelisted</a></div>
</div>
</div>
</div>
</div>

</div>

</div> <!-- div container1 end -->

</div>
</div>

<!-- da container div end --> </div>
</div>


<div class="section4_banner">
<div style="height:5vw"></div>
</div>

<div class="section4" style="background-image: image_url( community.svg );">
<div class="grid_container1">

<div class="item1_1">

  <div class="container text-center py-5">

<div class="row mt-5">
  <div class="container col-12 col-xl-8">
<div class="mr-2 text-left" style="color:white;">
<h2 class="h1 font-weight-700 section_header">Shaped by the community</h2>
</div>
</div>
</div>
</div>


</div>
<div class="item2_1">

<div class="container text-center py-5">

<div class="row mt-5">
<div class=" col-12 col-xl-6">
<div class="mr-2 text-left">
<div class="text-transparent" style="color:white;">We're building an ecosystem with the mechanism design to disrupt centralized identity management. An ecosystem fund is in the works too. Come join our community.</div>
<div class="my-4"><a class="btn-white-landing py-3 px-4" style="font-size: 14px; color: #0096FA;" href="https://discord.gg/NeWjCMFWnR">Join Discord Community</a></div>
</div>
</div>
</div>
</div>

</div>

<div style="height:25vw"></div>
<div style="height:20vw"></div>

</div> <!-- div container1 end -->

<div style="height:10vh"></div>
</div>
</div>

<!-- da container div end --> </div>
</div>



<div class="section5">

<div class="container pt-5 text-center">
  <div class="h5 font-weight-500 text-primary" style="font-size: 12px;">DOCUMENTATION</div>
  <h3 class="h2 font-weight-700 my-lg-3">Frequently Asked Questions</h3>
</div>

<div class="container text-center" style="background-color:#E9F5FF;">

  <div class="row">


    <div class="col-sm-6 p-3">
      <div class="light-shadow collapse-button" style="background-color: white;">
        <button class="btn btn-block p-4 text-left d-flex" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false">
          <div class="h5 mr-auto my-auto font-weight-500" style="font-size: 16px;">Why WunderPass?</div> <div class="ml-auto d-flex rounded js-rotate-if-collapsed" style="width: 32px; height: 32px; background-color:#E9F5FF;">
            <img class="my-auto mx-auto" src="<%= image_path('arrow_down_blue.svg') %>" alt="▼">
          </div>
        </button>
        <div id="collapse1" class="collapse">
          <p class="text-transparent px-4 pt-3 text-left" style="padding-bottom: 1rem; margin-bottom: 0rem;">
          WunderPass was created to give users back unconditional sovereignty over their data and digital identities. In particular, it eliminates the need for handling multiple online accounts and giving out personal data that disproportionately benefits service providers.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 p-3">
      <div class="light-shadow collapse-button" style="background-color: white;">
        <button class="btn btn-block p-4 text-left d-flex" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false">
          <div class="h5 mr-auto my-auto font-weight-500" style="font-size: 16px;">What is the WunderPass protocol?</div> <div class="ml-auto d-flex rounded js-rotate-if-collapsed" style="width: 32px; height: 32px; background-color:#E9F5FF;">
            <img class="my-auto mx-auto" src="<%= image_path('arrow_down_blue.svg') %>" alt="▼">
          </div>
        </button>
        <div id="collapse2" class="collapse">
          <p class="text-transparent px-4 pt-3 text-left" style="padding-bottom: 1rem; margin-bottom: 0rem;">
          WunderPass is a global zero-knowledge identity protocol that allows users to move frictionlessly through the web, control their data and get paid when they share it. We're building an ecosystem with the mechanism design to disrupt centralized identity management.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 p-3">
      <div class="light-shadow collapse-button" style="background-color: white;">
        <button class="btn btn-block p-4 text-left d-flex" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false">
          <div class="h5 mr-auto my-auto font-weight-500" style="font-size: 16px;">What are we launching on the protocol?</div> <div class="ml-auto d-flex rounded js-rotate-if-collapsed" style="width: 32px; height: 32px; background-color:#E9F5FF;">
            <img class="my-auto mx-auto" src="<%= image_path('arrow_down_blue.svg') %>" alt="▼">
          </div>
        </button>
        <div id="collapse3" class="collapse">
          <p class="text-transparent px-4 pt-3 text-left" style="padding-bottom: 1rem; margin-bottom: 0rem;">
          We're launching identity-based products on the protocol to kick start this process. The first being WunderPool, a social investing app. Since it's built on the identity layer, users can use their WunderID to settle all kinds of transactions amongst each other.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 p-3">
      <div class="light-shadow collapse-button bg-white" style="background-color: white;">
        <button class="btn btn-block p-4 text-left d-flex" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false">
          <div class="h5 mr-auto my-auto font-weight-500" style="font-size: 16px;">How do I get started?</div> <div class="ml-auto d-flex rounded js-rotate-if-collapsed" style="width: 32px; height: 32px; background-color:#E9F5FF;">
            <img class="my-auto mx-auto" src="<%= image_path('arrow_down_blue.svg') %>" alt="▼">
          </div>
        </button>
        <div id="collapse4" class="collapse">
          <p class="text-transparent px-4 pt-3 text-left" style="padding-bottom: 1rem; margin-bottom: 0rem;">
          Click on launch app (link coming soon) to start the WunderPass app. You will then be able to create your WunderID. Make sure to write down your secret recovery phrase. Remember: your keys, your identity.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 p-3">
      <div class="light-shadow collapse-button bg-white" style="background-color: white;">
        <button class="btn btn-block p-4 text-left d-flex" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false">
          <div class="h5 mr-auto my-auto font-weight-500" style="font-size: 16px;">What is my WunderID?</div> <div class="ml-auto d-flex rounded js-rotate-if-collapsed" style="width: 32px; height: 32px; background-color:#E9F5FF;">
            <img class="my-auto mx-auto" src="<%= image_path('arrow_down_blue.svg') %>" alt="▼">
          </div>
        </button>
        <div id="collapse5" class="collapse">
          <p class="text-transparent px-4 pt-3 text-left" style="padding-bottom: 1rem; margin-bottom: 0rem;">
      Your WunderIdentity or WunderID is your only identifier on the protocol. Others can use it to easily interact with the underlying public address without explicitly knowing it. In other words, without doxxing it.</div>
      </div>
    </div>

    <div class="col-sm-6 p-3">
      <div class="light-shadow collapse-button bg-white" style="background-color: white;">
        <button class="btn btn-block p-4 text-left d-flex" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false">
          <div class="h5 mr-auto my-auto font-weight-500" style="font-size: 16px;">What is the WunderPass NFT?</div> <div class="ml-auto d-flex rounded js-rotate-if-collapsed" style="width: 32px; height: 32px; background-color:#E9F5FF;">
            <img class="my-auto mx-auto" src="<%= image_path('arrow_down_blue.svg') %>" alt="▼">
          </div>
        </button>
        <div id="collapse6" class="collapse">
          <p class="text-transparent px-4 pt-3 text-left" style="padding-bottom: 1rem; margin-bottom: 0rem;">
          A utility NFT. WunderPass NFT holders will play a formative role in the development of the protocol and will have access to: invite-only events, utility token airdrop & staking rewards, early product releases & voting on the future roadmap.</p>
        </div>
      </div>
    </div>



     <div class="col-sm-6 p-3">
      <div class="light-shadow collapse-button" style="background-color: white;">
        <button class="btn btn-block p-4 text-left d-flex" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false">
          <div class="h5 mr-auto my-auto font-weight-500" style="font-size: 16px;";>How do I mint the WunderPass NFT?</div> <div class="ml-auto d-flex rounded js-rotate-if-collapsed" style="width: 32px; height: 32px; background-color:#E9F5FF;">
            <img class="my-auto mx-auto" src="<%= image_path('arrow_down_blue.svg') %>" alt="▼">
          </div>
        </button>
        <div id="collapse7" class="collapse">
          <p class="text-transparent px-4 pt-3 text-left">
          You can either mint it with your WunderID via the WunderPass app (link coming soon) and pay a discounted price of $79 (€69) with Paypal. Otherwise you can use the public minting function (link coming soon) and pay 420 Matic or ~$700 (~€600). </p>
          <p class="text-transparent px-4 pt-3 text-left" style="padding-bottom: 1rem; margin-bottom: 0rem;">
          Why? We are making it easy for crypto newbies to enter the space, without having to deal with hexadecimal strings and having to make multiple crypto transactions to mint the NFT.</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div style="height:10vh"></div>
<div style="height:10vh"></div>
<!-- da section div end --> </div>

<% if false %>
<div class="py-5">
<div class="hero">
<div class="container text-center py-5" style="height: 550px;">
<div class="my-4">&nbsp;</div>
<div class="my-5" style="height: 56px;">
<img class=" lazyloaded" data-src="https://s3-us-west-1.amazonaws.com/coin-tracker-public/static/images/sprites/heart.svg" alt="Quote" src="https://s3-us-west-1.amazonaws.com/coin-tracker-public/static/images/sprites/heart.svg">
</div>
<div class="text-white" style="font-size: 12px;">TESTIMONIALS</div>
<h2 class="h2 font-weight-700 text-white">Loved by cryptocurrency users</h2>
<div class="text-white" style="font-size: 16px;">CoinTracker is the most trusted cryptocurrency tax software in the industry.</div>
</div>
</div>
<div class="container" style="height:110px;">
<div class="row desktop-only" style="position: relative; top: -150px;">
<a class="tweet bg-white mx-3 my-3 col-sm-4 mx-auto text-dark light-shadow" style="max-width: 22rem; border-radius: 8px;" href="https://twitter.com/AriannaSimpson/status/984210317289893888" target="_blank" rel="noopener noreferrer">
<div class="px-3 py-4 d-flex flex-column justify-content-between" style="height: 100%;">
<p class="mb-auto">For those who asked about my crypto taxes - ended up going w <span class="text-primary">@cointracker</span>. Best UX I found after looking at a number of options. (FWIW I'm not an investor in the company, nor is anyone paying me).</p>
<div class="pt-3 d-flex mt-auto">
<div style="width: 40px; height: 40px;">
<img class="lazyload lazyfill rounded" data-src="https://s3-us-west-1.amazonaws.com/coin-tracker-public/static/images/other/avatar_user1.jpg">
</div>
<div class="mx-3">
<div style="font-size: 14px;">Arianna Simpson</div>
<div class="text-secondary" style="font-size: 12px;">@AriannaSimpson</div>
</div>
</div>
</div>
</a>
<a class="tweet bg-white mx-3 my-3 col-sm-4 mx-auto text-dark light-shadow" style="max-width: 22rem; border-radius: 8px;" href="https://twitter.com/Reparadocs/status/1114390379120418819" target="_blank" rel="noopener noreferrer">
<div class="px-3 py-4 d-flex flex-column justify-content-between" style="height: 100%;">
<p class="mb-auto">Started to do taxes this weekend and seriously big kudos to <span class="text-primary">@cointracker</span> for an amazing job on their product - hugely relieved to have my crypto taxes done in less than 5 mins 😇</p>
<div class="pt-3 d-flex mt-auto">
<div style="width: 40px; height: 40px;">
<img class="lazyload lazyfill rounded" data-src="https://s3-us-west-1.amazonaws.com/coin-tracker-public/static/images/other/avatar_user2.jpg">
</div>
<div class="mx-3">
<div style="font-size: 14px;">Rishab Hegde</div>
<div class="text-secondary" style="font-size: 12px;">@Reparadocs</div>
</div>
</div>
</div>
</a>
<a class="tweet bg-white mx-3 my-3 col-sm-4 mx-auto text-dark light-shadow" style="max-width: 22rem; border-radius: 8px;" href="https://twitter.com/garrytan/status/1024244073161351168" target="_blank" rel="noopener noreferrer">
<div class="px-3 py-4 d-flex flex-column justify-content-between" style="height: 100%;">
<p class="mb-auto">Watch out, Cointracker now has mobile apps that automatically sync your holdings with exchanges and your own crypto wallets. No more manual entry. Your best crypto tracker is now here 🔥</p>
<div class="pt-3 d-flex mt-auto">
<div style="width: 40px; height: 40px;">
<img class="lazyload lazyfill rounded" data-src="https://s3-us-west-1.amazonaws.com/coin-tracker-public/static/images/other/avatar_user3.jpg">
</div>
<div class="mx-3">
<div style="font-size: 14px;">Garry()</div>
<div class="text-secondary" style="font-size: 12px;">@garrytan</div>
</div>
</div>
</div>
</a>
</div>

<% end%>

<%= render 'shared/footer'%>


<script>

window.onload = (event) => {
  const texts = document.querySelectorAll(".enhance");
  texts.forEach((text) => {
    text.classList.add('highlight');
    // text.addEventListener('transitionend', removeTransition)
  });
}

function removeTransition(event) {
  this.classList.remove('highlight');
};

</script>
